#computer, #human {
  cursor: crosshair;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 5px;
  float: left;
  background-color: white;
  font-size: 100px;
  text-align: center;
}

.square div {
  vertical-align: middle;
}

#board {
  width: 336px;
  height: 336px;
  background-color: black;
}
